deslabs/config/*
deslabs/mysql/des-labs-mysql/config/
deslabs/redis/des-labs-redis/config/
deslabs/desaccess/des-labs/config/
deslabs/mysql/deploy*.yaml
deslabs/redis/deploy*.yaml
deslabs/desaccess/deploy*.yaml
deslabs/deslabs-frontpage/deploy*.yaml
deslabs/desaccess/desaccess

desheart/grafana/deploy_grafana.yaml
desheart/monitor/deploy*
desheart/monitor/monitor/config/

desncsa/config/*
desncsa/frontpage/desncsa/config/
desncsa/frontpage/desncsa-dev/config/
desncsa/frontpage/deploy*.yaml

ingress/ingress-controller/config/*
ingress/deploy_*

deslabs/easycli/deploy*

deslabs/jlab-server/jlab-server/config/*
deslabs/jlab-server/deploy*


